@model IEnumerable<User>
@{
    ViewData["Title"] = "Users";
}
<h2>Users Management</h2>

<div class="container p-4">
    <a asp-controller="Users" asp-action="Create" class="btn btn-success" >Add Users</a>
</div>

<table class="table table-bordered tabletable-striped" style="width:100%">
    <thead>
        <tr>
            <th>User Id</th>
            
            <th>Name</th>
            
            <th>User Name</th>
            
            <th>Created On</th>
            <th>Actions</th>
        </tr>

    </thead>
    <tbody>
       @if(Model !=null)
       @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.Id
                </td>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.Username
                </td>
                <td>
                    @obj.CreatedDate
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Users" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
                        <a asp-controller="Users" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-Danger mx-2"><i class="bi bi-trash-fill"></i>Delete</a>
                        </div>
                </td>
            </tr>
        }
    </tbody>
</table>
